// scss-lint:disable all
@font-face {
  font-family: 'tomorrow';
  src: url('./assets/fonts/tomorrow.eot?4fr1sl');
  src: url('./assets/fonts/tomorrow.eot?4fr1sl#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/tomorrow.ttf?4fr1sl') format('truetype'),
    url('./assets/fonts/tomorrow.woff?4fr1sl') format('woff'),
    url('./assets/fonts/tomorrow.svg?4fr1sl#tomorrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
